<!-- nav -->
<!--<nav class="navbar navbar-default navbar-dark bg-dark">-->
<!--  <div class="navbar-nav">-->
<!--    <a class="nav-item nav-link" routerLink="/">Home</a>-->
<!--    <a class="nav-item nav-link" (click)="logout()" *ngIf="authenticationService.isLoggedIn()">Logout</a>-->
<!--    <a class="nav-item nav-link" routerLink="/">Home</a>-->
<!--    <a class="nav-item nav-link" routerLink="/">Home</a>-->
<!--    <a class="nav-item nav-link" routerLink="/">Home</a>-->
<!--    <a class="nav-item nav-link" routerLink="/">Home</a>-->
<!--  </div>-->
<!--</nav>-->


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Brand/Logo</a>
  <button class="navbar-toggler" (click)="isCollapse=!isCollapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" (click)="isCollapse=true" [hidden]="isCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" *ngIf="authenticationService.isLoggedIn()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
